table{
  background-color: white;
  border-radius: 0.625rem;
  margin-left: 2rem;
  width: 90%;
}

button{
  margin-bottom: 8px;
  padding: 2px;
}
form{
  float: right;
  margin-right: 2rem;
}
.header{
  color:white;
  float: left;
  margin-left: 2rem;
}
.head{
  text-align: center;
}
td{
  text-align: center;
}
