<div class="row">
  <div class="search">
    <h2 class="header">All Suggested Books</h2>
    <form [formGroup]="searchsuggested" *ngIf="isAdmin()" (keyup)="onSearch()">
      <input type="text" id="search" placeholder="Search" class="col-lg-10" formControlName="searchText">
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>
  <table class="table table-repsponsive{-sm|-md|-lg} table-bordered ">
    <tr class="head">
      <th>ID</th>
      <th>Title</th>
      <th>Subject</th>
      <th>Author</th>
      <th>Description</th>
      <th>Suggestion Date</th>

    </tr>
    <tr *ngFor='let sbooks of suggestions'>
      <td>{{sbooks.id}}</td>
      <td>{{sbooks.title}}</td>
      <td>{{sbooks.subject}}</td>
      <td>{{sbooks.author}}</td>
      <td>{{sbooks.description}}</td>
      <td>{{sbooks.suggestionDate}}</td>

      <button class="btn btn-danger btn-sm ml-2" (click)="onClickDelete(sbooks.id)" *ngIf="isAdmin()">Delete</button>

    </tr>
  </table>
</div>