body {
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
	display:flex;
	align-items:center;
	justify-content:center;
	min-height: 85vh;
  background: transparent;
}
.header {
	border-bottom: 0.125rem solid #050505;
	padding: 20px 40px;
  color: black;
  font-family: 'Open Sans', sans-serif;
}
.form {
	padding: 1.5rem 2rem;
}
.container {
  background-color: rgba(231, 246, 250, 0.65);
	border-radius: 20px;
	box-shadow: 10px 50px 60px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 500px;
	max-width: 100%;
}
.form-group{
	margin-bottom: 0.5rem;
	padding-bottom: 0.5rem;
	position: relative;
  color:black;
  background: transparent;
}
.form-group label {
	display: inline-block;
	margin-bottom: 5px;
}
.form-group input {
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}
button{
  background-color: rgb(46, 163, 241);
	border: 2px solid rgb(208, 229, 243);
	border-radius: 1rem;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}
