<div class="row">
  <div class="search">
    <h2 class="header">All Books</h2>
    <form [formGroup]="searchBooks" (keyup)="search()">
      <input type="text" id="search" placeholder="Search" class="col-lg-10" formControlName="searchText">
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>

  <table class="table table-sm table-bordered table-striped">
    <tr class="head">
      <th>BookId</th>
      <th>Title</th>
      <th>Subject</th>
      <th>Author</th>
      <th>Publisher</th>
      <th>Published Year</th>
      <th>ISBN</th>
      <th>Quantity</th>
      <th>Shelf Details</th>
      <th>BookCost</th>
    </tr>
    <tr *ngFor='let book of books'>
      <td>{{book.bookId}}</td>
      <td>{{book.title}}</td>
      <td>{{book.subject}}</td>
      <td><span *ngFor='let author of book.authors'>{{author.firstName + ' ' + author.lastName}}</span></td>
      <td>{{book.publisher.publisherName}}</td>
      <td>{{book.publishedYear}}</td>
      <td>{{book.isbn}}</td>
      <td>{{book.quantity}}</td>
      <td>{{book.shelfDetails}}</td>
      <td>{{book.bookCost}}</td>
      <td>
        <button class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#updateModal">Update</button>
        <button class="btn btn-danger btn-sm ml-2">Delete</button>
      </td>
    </tr>
  </table>
</div>