<div class="image">
  <nav class="navbar navbar-expand-lg" >
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNav">
        <div *ngIf="!isLoggedIn()">
          <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active">
             <a class="nav-link"[routerLink]="['/home']" href="#"><b>Home</b></a>
           </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/login']" href="#"><b>Login</b></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
             <a class="nav-link" [routerLink]="['/signup']" href="#"><b>Sign Up/Register</b></a>
            </li>
          </ul>
        </div>

        <!-- Usermenu -->
        <div  *ngIf="isLoggedIn() && isUser()">
          <ul class=" nav navbar-nav">
            <li class="nav-item" routerLinkActive="active"  >
              <a class="nav-link" [routerLink]="['/userhome']" href="#"><b>Home</b></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/viewprofile']" href="#"><b>View Profile</b></a>
            </li>
            <li class="nav-item dropdown ">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <b>Books</b>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li routerLinkActive="active"><a class="dropdown-item" [routerLink]="['/issuebook']" href="#">Issue Book</a></li>
                <li routerLinkActive="active"><a class="dropdown-item" [routerLink]="['/borrowedbooks']" href="#">Borrowed Books</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <b>Feedback</b>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li routerLinkActive="active"><a class="dropdown-item" [routerLink]="['/addfeedback']" href="#">Give Feedback</a></li>
                <li routerLinkActive="active"><a class="dropdown-item" [routerLink]="['/viewfeedbacks']" href="#">View Feedbacks</a></li>
              </ul>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/allauthor']" href="#"><b>Authors</b></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <b>Suggest Books </b>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li class="nav-item" routerLinkActive="active">
                  <a class="nav-link" [routerLink]="['/suggestbook']" href="#">Suggest Book</a>
                </li>
                <li routerLinkActive="active"><a class="dropdown-item" [routerLink]="['/displayallsuggestedbooks']" href="#">All Suggested Books</a></li>
              </ul>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/updatepassword']" href="#"><b>Update Password</b></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/login']" (click)='logout()' href="#"><b>Logout</b></a>
            </li>
          </ul>
        </div>

        <!-- Admin Menu -->
        <div *ngIf="isLoggedIn() && isAdmin()">
          <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/adminhome']" href="#"><b>Home</b></a>
            </li>
            <li class="nav-item dropdown ">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Books
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li routerLinkActive="active"><a class="dropdown-item" [routerLink]="['/addbook']"  href="#">Add Book</a></li>
                <li routerLinkActive="active"><a class="dropdown-item" [routerLink]="['/displayallbooks']" href="#">All Books</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Author
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li routerLinkActive="active"><a class="dropdown-item" [routerLink]="['/addauthor']"  href="#">Add Author</a></li>
                <li routerLinkActive="active"><a class="dropdown-item" [routerLink]="['/allauthor']" href="#">All Authors</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Publishers
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li routerLinkActive="active"><a class="dropdown-item" [routerLink]="['/addpublisher']"  href="#">Add Publisher</a></li>
                <li routerLinkActive="active"><a class="dropdown-item" [routerLink]="['/displayallpublishers']" href="#">All Publishers</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Damaged Books
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li routerLinkActive="active"><a class="dropdown-item" [routerLink]="['/addDamagedBook']"  href="#">Add Damaged Book</a></li>
                <li routerLinkActive="active"><a class="dropdown-item" [routerLink]="['/displayalldamagedbooks']" href="#">All Damaged Books</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Suggest Books
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                <li routerLinkActive="active"><a class="dropdown-item" [routerLink]="['/displayallsuggestedbooks']" href="#">All Suggested Books</a></li>
              </ul>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/feedbacks']" href="#">Feedbacks</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Order Books
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li routerLinkActive="active"><a class="dropdown-item" [routerLink]="['/orderbooks']"  href="#">Add Order</a></li>
                <li routerLinkActive="active"><a class="dropdown-item" [routerLink]="['/orderlist']" href="#">Order History</a></li>
              </ul>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/login']" (click)='logout()' href="#">Logout</a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </nav>
</div>
<div>
  <router-outlet></router-outlet>
</div>

