
.nav-link{
  color: white;
  font-family: sans-serif;
}

.dropdown-menu {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.dropdown-menu > li >a {
  background: rgb(255, 255, 255);
  color: rgb(5, 5, 5);
}
/* nav{
  background-color: hsla(30, 7%, 95%,0.5);
} */
