*{
  box-sizing: border-box;
  height:100%;
}
body{
  background: url('src/app/menu/images/pexels-janko-ferlic-590493.jpg');
  background-size: cover;
  background-size: 100%;
}
.nav-item{
  color: whitesmoke;
}
