<div class="row" *ngIf="message !== ''">
  <div class="alert alert-info alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    {{ message }}
  </div>
</div>

<div class="row">
  <div class="search">
    <h2 class="header">All Publishers</h2>
    <form [formGroup]="searchPublisher" (keyup)="onSearch()">
      <input type="text" id="search" placeholder="Search" class="col-lg-10" formControlName="publisherId">
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>
  <table class="table table-sm table-bordered table-striped">
    <tr class="head">
      <th>publisherId</th>
      <th>Publisher Name</th>
      <th>Contact No</th>
      <th>Email</th>
      <th>Address1</th>
      <th>Address2</th>
      <th>City</th>
      <th>State</th>
      <th>Pincode</th>
    </tr>
    <tr *ngFor="let pub of publishers">
      <td>{{pub.publisherId}}</td>
      <td>{{pub.publisherName}}</td>
      <td>{{pub.contactNo}}</td>
      <td>{{pub.email}}</td>
      <td>{{pub.address1}}</td>
      <td>{{pub.address2}}</td>
      <td>{{pub.city}}</td>
      <td>{{pub.state}}</td>
      <td>{{pub.pincode}}</td>

      <button class="btn btn-success btn-sm" (click)="onClickUpdate(pub.publisherId)" data-bs-toggle="modal"
        data-bs-target="#updateModal">Update</button>
      <button class="btn btn-danger btn-sm ml-2" (click)="onClickDelete(pub.publisherId)">Delete</button>

    </tr>
  </table>
</div>
<div class="modal" id="updateModal" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Publisher</h5>
        <button type="button" class="btn-close" #closebutton data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="form-sm" [formGroup]="publisherUpdateForm">
        <div class="modal-body">
          <div class="form-group">
            <label for="publisherId">Publisher ID</label>
            <input type="number" class="form-control" placeholder="Publisher ID" id="publisherId"
              formControlName="publisherId" />
          </div>
          <div class="form-group">
            <label for="publisherName">Name</label>
            <input type="text" class="form-control" placeholder="Publisher Name" id="publisherName"
              formControlName="publisherName" />
          </div>
          <div class="form-group">
            <label for="contactNo">Contact</label>
            <input type="text" class="form-control" id="contactNo" placeholder="Contact" formControlName="contactNo">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email">
          </div>
          <div class="form-group">
            <label for="address1">Address Line 1</label>
            <input type="text" class="form-control" id="address1" placeholder="address1" formControlName="address1" />
          </div>
          <div class="form-group">
            <label for="address2">Address Line 2</label>
            <input type="text" class="form-control" id="address2" placeholder="address2" formControlName="address2" />
          </div>
          <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" placeholder="city" formControlName="city" />
          </div>
          <div class="form-group">
            <label for="state">State</label>
            <input type="text" class="form-control" id="state" placeholder="State" formControlName="state" />
          </div>
          <div class="form-group">
            <label for="pincode">Pincode</label>
            <input type="text" class="form-control" id="pincode" placeholder="pincode" formControlName="pincode" />
          </div>
        </div>
      </form>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="onSubmit()">Update</button>
      </div>
    </div>
  </div>
</div>