<html>
  <body>
    <h1>Welcome User</h1>
    <div class="container">
      <p>User details</p>
      <hr>
      <p>Name: Gitesh Narkhede</p>
      <p>Email: Gitesh@example.com</p>
      <button class="btn btn-success" data-bs-toggle="modal"
       data-bs-target="#addressModal">Add Address</button>
       <button class="btn btn-success" data-bs-toggle="modal"
       data-bs-target="#viewaddressModal">view Address</button>
    </div>
  </body>
</html>

<!-- Modal form to add address -->
<div class="modal" id="addressModal" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Address</h5>
        <button type="button" class="btn-close" #closebutton data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="form-sm" [formGroup]="addaddress" (ngSubmit)="onSubmit()">
        <div class="modal-body">
          <div class="form-group">
            <label for="addressLine1">Address Line 1</label>
            <input type="text" class="form-control" id="addressLine1" placeholder="Address line 1" formControlName="addressLine1"/>
          </div>
         <div class="form-group">
            <label for="addressLine2">Address Line 2</label>
            <input type="text" class="form-control" id="addressLine2"  placeholder="Address line 2"
             formControlName="addressLine2">
          </div>
          <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city"  placeholder="City"
              formControlName="city"/>
          </div>
          <div class="form-group">
            <label for="state">State</label>
            <input type="text" class="form-control" id="state" placeholder="State"
              formControlName="state"/>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Add</button>
          <button type="button" class="btn btn-danger">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- view Address modal -->
<div class="modal" id="viewaddressModal" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Address</h5>
        <button type="button" class="btn-close" #closebutton data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="form-sm" [formGroup]="viewaddress">
        <div class="modal-body">
            <p>addresss Id</p>
            <p>Address line 1</p>
            <p>Address line 2</p>
            <p>city</p>
            <p>state</p>
        </div>
      </form>
    </div>
  </div>
</div>
