table{
  background-color: white;
  border-radius: 0.25rem;
  margin-right: 5rem;
}

#search{
  margin-right: 1.25rem;
  margin-bottom: 0.625rem;
  width: 30rem;
}

button{
  margin-bottom: 0.5rem;
  padding: 0.125rem;
}

form{
  float: right;
  margin-right: 2rem;
}

.header{
  color:white;
  float: left;
  margin-left: 2rem;
}

.thead{
  text-align: center;
}
th{
  width: 0.5rem;
}
