table{
  background-color: white;
  border-radius: 0.625rem;
  margin-left: 5rem;
  width: 80rem;
}

#search{
  margin-right: 1.25rem;
  margin-bottom: 10px;
  width: 30rem;
}
button{
  margin-bottom: 8px;
  padding: 2px;
  margin-right: 2rem;
}
form{
  float: right;
  margin-right: 5rem;
}
.header{
  color:white;
  float: left;
  margin-left: 2rem;
}
.head{
  text-align: center;
}
td{
  text-align: center;
}
.row{
  width: 100%;
}
