body{
  background-color: rgba(231, 246, 250,0.80);
  border-radius: 20px;
  overflow: hidden;
	width: 500px;
	max-width: 100%;
}

.header{
  border-bottom: 0.125rem solid black;
  padding: 20px 40px;
  color: black;
  font-family: 'Open Sans', sans-serif;
}

.details{
  padding: 1.5rem 2rem;
}
.footer{
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 1rem;
}
.footer button{
  margin: 0.25rem;
}
.form-group input{
  margin-bottom: 0.5rem;
}
