
<div class="container">
    <h2>User Profile</h2>
    <div class="details">
      <p>User Name: {{user.userName}}</p>
      <p>First Name: {{user.firstName}}</p>
      <p>Last Name: {{user.lastName}}</p>
      <p>Mobile Number: {{user.mobileno}}</p>
      <p>Email: {{user.email}}</p>
      <p>Date of Birth: {{user.dateOfBirth}}</p>
    </div>
    <div>
      <p>Address line 1: {{user.address.addressLine1}}</p>
      <p>Address Line 2: {{user.address.addressLine2}}</p>
      <p>City: {{user.address.city}}</p>
      <p>State: {{user.address.state}}</p>
    </div>
    <button class="btn btn-primary" data-bs-toggle="modal"
      data-bs-target="#profileModal">Update Profile</button>

    <button class="btn btn-primary" data-bs-toggle="modal"
      data-bs-target="#addressModal">Update Address</button>

    <button class="btn btn-primary" data-bs-toggle="modal"
      data-bs-target="#updateaddress">Remove Address</button>
</div>

<!-- Modal form for update profile -->
<div class="modal" id="profileModal" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Profile</h5>
        <button type="button" class="btn-close" #closebutton data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="form-sm" [formGroup]="updateprofile" (ngSubmit)="onSubmit()">
        <div class="modal-body">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" formControlName="firstName"
             [ngClass]="{ 'is-invalid': submitted && updateprofile.get('firstName').errors }"/>
             <div class="alert alert-danger" *ngIf="updateprofile.get('firstName').invalid
              && updateprofile.get('firstName').touched">
              <div *ngIf="updateprofile.get('firstName').errors.required">
                First Name is required
              </div>
            </div>
          </div>
         <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" formControlName="lastName"
              [ngClass]="{ 'is-invalid': submitted && updateprofile.get('lastName').errors }"/>
            <div class="alert alert-danger" *ngIf="updateprofile.get('lastName').invalid
              && updateprofile.get('lastName').touched">
              <div *ngIf="updateprofile.get('lastName').errors.required">
                Last Name is required
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="mobileno">Mobile</label>
            <input type="tel" class="form-control" id="mobileno" formControlName="mobileno"
            [ngClass]="{ 'is-invalid': submitted && updateprofile.get('mobileno').errors }"/>
            <div *ngIf="updateprofile.get('mobileno').touched && updateprofile.get('mobileno').invalid" class="alert alert-danger">
              <div *ngIf="updateprofile.get('mobileno').errors.required">Mobile Number is required.</div>
              <div *ngIf="updateprofile.get('mobileno').errors.pattern">Please, Enter 10 digit Mobile Number.</div>
          </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email"
              formControlName="email" [ngClass]="{ 'is-invalid': submitted && updateprofile.get('email').errors }"/>
              <div class="alert alert-danger" *ngIf="updateprofile.get('email').invalid
                && updateprofile.get('email').touched">
              Please enter a valid email
          </div>
          </div>
          <div class="form-group">
            <label for="dateOfBirth">Date of Birth</label>
            <input type="date" class="form-control" id="dateOfBirth"
              formControlName="dateOfBirth"/>
              <div class="alert alert-danger" *ngIf="updateprofile.get('dateOfBirth').invalid
                && updateprofile.get('dateOfBirth').touched">
                DOB is required
          </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Update</button>
          <button type="button" class="btn btn-danger">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal form to add address -->
<div class="modal" id="addressModal" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Address</h5>
        <button type="button" class="btn-close" #closebutton data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="form-sm" [formGroup]="addaddress" (ngSubmit)="onSubmit()">
        <div class="modal-body">
          <div class="form-group">
            <label for="addressLine1">Address Line 1</label>
            <input type="text" class="form-control" id="addressLine1" placeholder="Address line 1" formControlName="addressLine1"/>
          </div>
         <div class="form-group">
            <label for="addressLine2">Address Line 2</label>
            <input type="text" class="form-control" id="addressLine2"  placeholder="Address line 2"
             formControlName="addressLine2">
          </div>
          <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city"  placeholder="City"
              formControlName="city"/>
          </div>
          <div class="form-group">
            <label for="state">State</label>
            <input type="text" class="form-control" id="state" placeholder="State"
              formControlName="state"/>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal" (click)="onSubmit()" class="btn btn-primary">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal" id="updateaddress" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Address</h5>
        <button type="button" class="btn-close" #closebutton data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="form-sm" [formGroup]="updateaddress" (ngSubmit)="onSubmit()">
        <div class="modal-body">
          <div class="form-group">
            <input type="text" class="form-control" id="addressLine1" placeholder="Address line 1" formControlName="addressLine1"/>
          </div>
         <div class="form-group">
            <input type="text" class="form-control" id="addressLine2"  placeholder="Address line 2"
             formControlName="addressLine2">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="city"  placeholder="City"
              formControlName="city"/>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="state" placeholder="State"
              formControlName="state"/>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Update</button>
          <button type="button" class="btn btn-danger">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
