body{
  background-color: rgba(231, 246, 250,0.80);
  border-radius: 20px;
  overflow: hidden;
	width: 500px;
	max-width: 100%;
}

.header{
  border-bottom: 0.125rem solid black;
  padding: 20px 40px;
  color: black;
  font-family: 'Open Sans', sans-serif;
}

.details{
  padding: 1rem;
}
