<div class="container">
  <div class="row">
    <div class="header"><h2>Add Author</h2></div>
    <form [formGroup]="addauthorForm" (ngSubmit)="onSubmit()" id="form" class="form">

      <div class="form-group">
        <label for="firstName">Name</label>
        <input type="text" class="form-control"
         placeholder="First Name" id="firstName" formControlName="firstName"/>
        <div class="alert alert-danger" *ngIf="addauthorForm.get('firstName').invalid
          && addauthorForm.get('firstName').touched">
          <div *ngIf="addauthorForm.get('firstName').errors.required">
            First Name is required
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="lastName">last Name</label>
        <input type="text" class="form-control"  id="lastName"
        placeholder="Address line 1" formControlName="lastName">
        <div class="alert alert-danger" *ngIf="addauthorForm.get('lastName').invalid
        && addauthorForm.get('lastName').touched">
          Last Name is required
       </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control"  id="email"
        placeholder="Email" formControlName="email">
        <div class="alert alert-danger" *ngIf="addauthorForm.get('email').invalid
        && addauthorForm.get('email').touched">
          Please enter a valid email
       </div>
      </div>

      <div class="form-group">
        <label for="contactNo">Contact</label>
        <input type="tel" class="form-control"
        placeholder="Contact" id="contactNo" formControlName="contactNo"/>
        <div *ngIf="addauthorForm.get('contactNo').touched && addauthorForm.get('contactNo').invalid" class="alert alert-danger">
          <div *ngIf="addauthorForm.get('contactNo').errors.required">Mobile Number is required.</div>
          <div *ngIf="addauthorForm.get('contactNo').errors.pattern">Please, Enter 10 digit Mobile Number.</div>
        </div>
      </div>

      <button type="submit" [disabled]="addauthorForm.invalid" class="btn btn-success">Add Author</button>
    </form>
  </div>
</div>
