<div class="container">
      <div class="row">
        <div class="header"><h2>Add Damaged Book</h2></div>
        <form [formGroup]="damagedbook" (ngSubmit)="onSubmit()" id="form" class="form">
          <div class="form-group">
            <label for="bookId">Book ID:</label>
            <input  class="form-control" placeholder="Book ID" id="bookId" type="text" formControlName="bookId"/>
            <div class="alert alert-danger" *ngIf="damagedbook.get('bookId').invalid
            && damagedbook.get('bookId').touched">
            <div *ngIf="damagedbook.get('bookId').errors.required">
              Book ID is required
            </div>
          </div>
          </div>
          <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" name="description" id="description"
            placeholder="Description" cols="25" rows="4" formControlName="description"></textarea>
            <div class="alert alert-danger" *ngIf="damagedbook.get('description').invalid
              && damagedbook.get('description').touched">
              <div *ngIf="damagedbook.get('description').errors.required">
                Description is required
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="quantity">Quantity</label>
            <input  class="form-control" placeholder="Quantity" id="quantity" type="number" formControlName="quantity"/>
            <div class="alert alert-danger" *ngIf="damagedbook.get('quantity').invalid
              && damagedbook.get('quantity').touched">
              <div *ngIf="damagedbook.get('quantity').errors.required">
                Quantity is required
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
    </div>
