<div class="row">
  <!-- Penalty/Fine will be displayed here -->
  <div class="search">
    <form [formGroup]="borrowedBooks" (keyup)="search()">
      <h2 class="header">Borrowed Books</h2>
      <input type="text" id="search" placeholder="Search" class="col-lg-10" formControlName="searchText">
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>

  <table class="table table-sm table-bordered table-striped">
    <tr class="head">
      <th>Book</th>
      <th>Issue Date</th>
      <th>Return Date</th>
      <th>Status</th>
    </tr>
    <tr *ngFor='let bookborrow of booksborrowed'>
      <!-- <td>{{bookborrow.issueId}}</td> -->
      <td>{{bookborrow.book.title}}</td>
      <td>{{bookborrow.issueDate}}</td>
      <td>{{bookborrow.returnDate}}</td>
      <td>{{bookborrow.status}}</td>
      <button class="btn btn-danger btn-sm ml-2" data-bs-toggle="modal" data-bs-target="#returnModal"
        (click)="onClickReturn(bookborrow.issueId)" *ngIf="bookborrow.status!=='Returned'">Return</button>
    </tr>
  </table>
</div>