<div class="row">
     <!-- Penalty/Fine will be displayed here -->
  <div class="search">
    <form [formGroup]="borrowedBooks">
      <h2 class="header">Borrowed Books</h2>
      <input type="text" id="search" placeholder="Search" class="col-lg-10" formControlName="searchText">
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>

  <table class="table table-sm table-bordered table-striped">
    <tr>
      <th>BookId</th>
      <th>Title</th>
      <th>Subject</th>
      <th>Author Id</th>
      <th>Publisher Id</th>
      <th>Published Year</th>
      <th>ISBN</th>
      <th>Quantity</th>
      <th>Shelf Details</th>
      <th>BookCost</th>
    </tr>
    <tr *ngFor='let book of books'>
      <td>{{book.bookId}}</td>
      <td>{{book.title}}</td>
      <td>{{book.subject}}</td>
      <td>{{book.authorIdList}}</td>
      <td>{{book.publisherId}}</td>
      <td>{{book.publishedYear}}</td>
      <td>{{book.isbn}}</td>
      <td>{{book.quantity}}</td>
      <td>{{book.shelfDetails}}</td>
      <td>{{book.bookCost}}</td>
      <td>
        <button class="btn btn-danger btn-sm ml-2" data-bs-toggle="modal"
          data-bs-target="#returnModal">Return</button>
      </td>
    </tr>
  </table>
</div>
