body{
  background: url('src/app/Admin/images/pexels-suzy-hazelwood-1122865.jpg') no-repeat center fixed;
  background-size: cover;
  min-height: 100vh;
}
.nav-link{
  color:white;
}
.pass{
  justify-content: flex-end;
}
