<div class="row">
  <div class="search">
    <form [formGroup]="searchorder" (keyup)="search()">
      <h2 class="header">Order History</h2>
      <input type="text" id="search" placeholder="Search" class="col-lg-10" formControlName="searchText">
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>
  <table class="table table-sm table-bordered table-striped">
    <tr class="thead">
      <th>Order ID</th>
      <th>Book</th>
      <th>Pushisher</th>
      <th>Quantity</th>
      <th>Order Date</th>
      <th>Order Status</th>

    </tr>
    <tr *ngFor='let orderbook of booksorder'>
      <td>{{orderbook.orderId}}</td>
      <td>{{orderbook.book.title}}</td>
      <td>{{orderbook.publisher.publisherName}}</td>
      <td>{{orderbook.quantity}}</td>
      <td>{{orderbook.orderDate}}</td>
      <td>{{orderbook.orderStatus}}</td>
      <button class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#updateModal">Update</button>
      <button class="btn btn-danger btn-sm ml-2" (click)="onClickCancel(orderbook.orderId)">cancel</button>
      <button class="btn btn-danger btn-sm ml-2" (click)="onClickClose(orderbook.orderId)">Close</button>
    </tr>
  </table>
</div>