<div class="row">
  <div class="search">
    <h2 class="header">All Damaged Books</h2>
    <form [formGroup]="searchDamaged" (keyup)="onSearch()">
      <input type="text" id="search" placeholder="Search" class="col-lg-10" formControlName="searchText">
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>
  <table class="table table-sm table-bordered table-striped">
    <tr class="head">
      <th>Book ID</th>
      <th>Id</th>
      <th>Description</th>
      <th>quantity</th>
    </tr>
    <tr *ngFor="let dbooks of DamagedBooks">
      <td>{{dbooks.book.bookId}}</td>
      <td>{{dbooks.id}}</td>
      <td>{{dbooks.description}}</td>
      <td>{{dbooks.quantity}}</td>
        <button class="btn btn-danger btn-sm ml-2" (click)="onClickDelete(dbooks.id)">Delete</button>
    </tr>
  </table>
</div>
<div class="alert alert-info" *ngIf="deleteMsg">
  Publisher Added SuccessFully!
</div>
