@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

h1{
  color: black;

}
.container{
  background-color: hsla(30, 55%, 68%, 0.65);
  height: 20vh;
  text-align: center;
  font-family: 'Playfair Display', serif;
  top: 20%;
  position: absolute;
  left: 8%;
}
