<div class="row">
  <div class="search">
    <form [formGroup]="searchFeedback">
      <h2 class="header">All Feedbacks</h2>
      <input type="text" id="search" placeholder="Search" class="col-lg-10" formControlName="searchText">
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>
  <table class="table table-sm table-bordered table-striped">
    <tr>
      <th>User Id</th>
      <th>Feedback Id</th>
      <th>Feedback Date</th>
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
    </tr>
    <tr *ngFor='let feedback of feedbacks'>
      <td>{{feedback.userid}}</td>
      <td>{{feedback.feedbackid}}</td>
      <td>{{feedback.feedbackDate}}</td>
      <td>{{feedback.title}}</td>
      <td>{{feedback.description}}</td>
      <td>
        <button class="btn btn-success btn-sm"
          data-bs-toggle="modal" data-bs-target="#updateModal">Update</button>
        <button class="btn btn-danger btn-sm ml-2">Delete</button>
      </td>
    </tr>
  </table>
</div>

<!-- Modal form for update feedback -->
<!-- <div class="modal" id="updateModal" data-bs-backdrop="static" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Feedback</h5>
        <button type="button" class="close" #closebutton data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form-sm" [formGroup]="searchFeedback" (ngSubmit)="onSubmit()">
        <div class="modal-body">
          <div class="form-group">
            <label for="userid">UserId</label>
            <input type="text" class="form-control" id="userid" formControlName="userid"/>
          </div>
         <div class="form-group">
            <label for="feedbackid">Feedback ID</label>
            <input type="text" class="form-control" id="feedbackid"
             formControlName="feedbackid">
          </div>
          <div class="form-group">
            <label for="feedbackDate">Feedback Date</label>
            <input type="date" class="form-control" id="feedbackDate"
              formControlName="feedbackDate"/>
          </div>
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Title"
              formControlName="title"/>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" name="description" id="description"
              placeholder="Description" cols="25" rows="4" formControlName="description"></textarea>
          </div>
        </div>
        <div>
          <button type="button" class="btn btn-danger">Close</button>
        </div>
      </form>
  </div>
</div> -->
